.video-container .mbr-background-video iframe{width:100%;height:100%;}
/*
     FILE ARCHIVED ON 21:59:50 Jun 03, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:11:23 Mar 22, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 0.62
  PetaboxLoader3.datanode: 187.602 (4)
  CDXLines.iter: 29.127 (3)
  exclusion.robots.policy: 0.138
  esindex: 0.01
  LoadShardBlock: 141.821 (3)
  load_resource: 90.641
  captures_list: 175.312
  exclusion.robots: 0.15
  PetaboxLoader3.resolve: 31.601
*/